NODE_ENV=development

# --- Consul ---
# This 'consul' hostname maps to the service name in docker-compose
CONSUL_HOST=consul
CONSUL_PORT=8500

# --- Service ---
# This is the address *inside* Docker. The service name is resolvable.
SERVICE_ADDRESS=user-service
SERVICE_PORT=50051

# --- Database (PostgreSQL) ---
DB_HOST=postgres-user-db
DB_PORT=5432
DB_USERNAME=user
DB_PASSWORD=password
DB_DATABASE=user_db