NODE_ENV=development

# --- Consul ---
CONSUL_HOST=consul
CONSUL_PORT=8500

# --- Service ---
SERVICE_ADDRESS=invoice-service
SERVICE_PORT=50052

# --- Database (PostgreSQL) ---
DB_HOST=postgres-invoice-db
DB_PORT=5432
DB_USERNAME=user
DB_PASSWORD=password
DB_DATABASE=invoice_db